<div class="container">
    <a href="" [routerLink]="['/inicio']">
        <img src="../../assets/logo.png" alt="" class="rounded mx-auto d-block">
    </a>
    <nav class="mx-auto d-block" id="navbar">
        <a href="https://www.superromamty.wordpress.com" class="m-2">INICIO</a>
        <a href="https://www.superromamty.wordpress.com/NOSOTROS" class="m-2">NOSOTROS</a>
        <a href="https://www.superromamty.wordpress.com/PROMOCIONES" class="m-2">PROMOCIONES</a>
        <a href="https://www.superromamty.wordpress.com/FOLLETO" class="m-2">FOLLETO</a>
        <a href="https://www.superromamty.wordpress.com/SUCURSALES" class="m-2">SUCURSALES</a>
        <a href="https://www.superromamty.wordpress.com/CONTACTO" class="m-2">CONTACTO</a>
        <a [routerLink]="['/inicio']" class="m-2">FACTURACIÓN</a>
    </nav>
</div>