<footer class="container bg-dark foot-text">
    <div class="row">
        <div class="col-sm">
            <h6><b>Contacto</b></h6>
            <a href="mailto:contacto@superroma.mx">contacto@superroma.mx</a>
            <p>Tel. 8358-0054 y 8358-0069</p>
        </div>
        <div class="col-sm">
            <a [routerLink]="['/inicio']">
                <img src="../../assets/sr_logo.png" alt="" class="mx-auto d-block">
            </a>
        </div>
        <div class="col-sm links">
            <p>Links de Interés</p>
            <a href="https://www.superromamty.wordpress.com">Nosotros</a>
            <a href="https://www.superromamty.wordpress.com">Folleto</a>
            <a href="https://www.superromamty.wordpress.com">Promociones</a>
            <a href="https://www.superromamty.wordpress.com">Sucursales</a>
        </div>
    </div>

</footer>