<div class="jumbotron">
    <h1 class="display-5">Captura tus datos de facturación.</h1>
    <p>
        Captura la información necesaria para enviar tu solicitud de facturación.
    </p>
    <app-progress-bar [porcentaje]="porcentaje"></app-progress-bar>
    <hr class="mb-3">
    <div class="container-fluid">
        <form>
            <legend>Información Personal</legend>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label for="inputName" class="col-form-label">Razón Social</label>
                    <input type="text" class="form-control" name="inputName" id="inputName" placeholder="">
                </div>
                <div class="col-lg-3">
                    <label for="cbTipoPersona" class="col-form-label">Tipo de Persona Fiscal</label>
                    <select class="form-control" name="cbTipoPersona">
                        <option>Seleccionar...</option>
                        <option>FÍSICA</option>
                        <option>MORAL</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <label for="inputName" class="col-form-label">RFC</label>
                    <input type="text" class="form-control" name="inputName" id="inputName" placeholder="XXXX0000AB0">
                </div>
            </div>
            <hr class="m-4">
            <legend>Dirección de Facturación</legend>
            <div class="form-group row">
                <div class="col-lg-12">
                    <label for="cbDireccionesReg" class="col-form-label">Direcciones Registradas</label>
                    <select class="form-control" name="cbDireccionesReg">
                        <option>Pleamar 3411, Riberas del Río, Guadalupe N.L; C.P. 67160</option>
                        <option>Embarcadero 3009, Av. José Velázquez, San Pedro Garza García N.L; C.P. 63500</option>
                        
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-9">
                    <label for="inputCalle" class="col-form-label">Calle</label>
                    <input type="text" class="form-control" name="inputCalle" id="inputCalle" placeholder="">
                </div>
                <div class="col-lg-3">
                    <label for="inputNoExt" class="col-form-label">Número Ext.</label>
                    <input type="text" class="form-control" name="inputNoExt" id="inputNoExt">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label for="inputColonia" class="col-form-label">Colonia</label>
                    <input type="text" class="form-control" name="inputColonia" id="inputColonia" placeholder="">
                </div>
                <div class="col-lg-3">
                    <label for="cbMunicipio" class="col-form-label">Municipio</label>
                    <select class="form-control" name="cbMunicipio">
                        <option>GUADALUPE</option>
                        <option>MONTERREY</option>
                        <option>SAN PEDRO GZA GARCÍA</option>
                        <option>LINARES</option>
                        <option>ESCOBEDO</option>
                        <option>APODACA</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <label for="inputCP" class="col-form-label">Código Postal</label>
                    <input type="text" class="form-control" name="inputCP" id="inputCP">
                </div>
            </div>
            <hr class="m-4">
            <legend>Otros Datos</legend>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label for="inputCorreoElectronico" class="col-form-label">Correo Electrónico</label>
                    <input type="text" class="form-control" name="inputCorreoElectronico" id="inputCorreoElectronico" placeholder="">
                </div>
                <div class="col-lg-6">
                    <label for="cbUsoCFDI" class="col-form-label">Uso de CFDI</label>
                    <select class="form-control" name="cbUsoCFDI">
                        <option>G01 - Adquisición de Mercancias</option>
                        <option>G01 - Devoluciones, Descuentos o Bonificaciones</option>
                        <option>G03 - Gastos en General</option>
                        <option>P01 - Por Definir</option>
                    </select>
                </div>
            </div>
            <div class="form-group row d-flex flex-row-reverse mt-4">
                <div class="col-lg-8">
                    <button [routerLink]="['/registro-ticket']" class="btn btn-primary" style="width: 100%;">Continuar</button>
                </div>
            </div>
        </form>
    </div>
</div>