.progress {
    background-color: white;
}

.progress-bar {
    width: 33%;
    background-color: #4A90E2;
    height: 100%;
    border-color: #4A90E2;
    animation-name: progressBar;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

@keyframes progressBar {
    0% {
        width: 0%;
    }
    100% {
        width: 33%;
    }
}