<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [@porcentajeCompletado]="porcentaje"></div>
</div>
<!-- <div class="row">
    <div class="col-lg-12 d-flex flex-row-reverse">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item EsCapturaSolicitud? active">Captura Solicitud</li>
                <li class="breadcrumb-item">Agrega Tickets</li>
                <li class="breadcrumb-item">Resumen</li>
                <li class="breadcrumb-item">Solicitud Enviada</li>
            </ol>
        </nav>
    </div>
</div> -->