.progress-bar {
    width: 66%;
    background-color: #4A90E2;
    height: 100%;
    border-color: #4A90E2;
    animation: progressBar 1s ease-out forwards;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

@keyframes progressBar {
    0% {
        width: 33%;
    }
    100% {
        width: 66%;
    }
}