<div class="jumbotron">
    <h1 class="display-5">Captura de Tickets de compra.</h1>
    <p>
        Asocia los tickets de compra que deseas facturar.
    </p>
    <app-progress-bar [porcentaje]="porcentaje"></app-progress-bar>
    <hr class="mb-3">
    <div class="container-fluid">
        <form>
            <div class="row mb-2">
                <div class="col-lg-12">
                    <label for="spSolicitudNueva">Solicitud</label>
                    <input type="text" class="form-control" disabled name="spSolicitudNueva" id="spSolicitudNueva" value="Razón Social RFC - Dirección de Facturación 5000 - G01 Gastos en General">
                </div>
            </div>
            <legend>Captura de Tickets</legend>
            <div class="form-group row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="cbSucursal" class="col-form-label">Sucursal</label>
                            <select class="form-control" name="cbSucursal">
                                <option>Seleccionar...</option>
                                <option>01 - SUCURSAL ROMA</option>
                                <option>02 - SUCURSAL CUMBRES</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label for="inputFecha" class="col-form-label">Fecha</label>
                            <input type="date" class="form-control" name="inputFecha" id="inputFecha">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="cbCaja" class="col-form-label">Caja</label>
                            <select class="form-control" name="cbCaja">
                                <option>Seleccionar...</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label for="inputNumeroTicket" class="col-form-label">Ticket</label>
                            <input type="number" class="form-control" name="inputNumeroTicket" id="inputNumeroTicket">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-12">
                            <button class="btn btn-primary" style="width: 100%;">Agregar Ticket</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img src="../../assets/ticket_sr.png" alt="" width="100%" height="auto" class="rounded mx-auto d-block">
                </div>
            </div>
            <hr class="m-4">
            <legend>Tickets Agregados</legend>
            <div class="form-group row">
                <div class="col-lg-12">
                    <table class="table table-striped table-inverse">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Fecha</th>
                                <th>Sucursal</th>
                                <th class="text-right">Caja</th>
                                <th class="text-right">Ticket</th>
                                <th class="text-center">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Fecha</td>
                                <td>01 - SUCURSAL ROMA</td>
                                <td class="text-right">02</td>
                                <td class="text-right">2034</td>
                                <td class="text-center"><button class="btn btn-danger">Eliminar</button></td>
                            </tr>
                            <tr>
                                <td scope="row">Fecha</td>
                                <td>02 - SUCURSAL CUMBRES</td>
                                <td class="text-right">05</td>
                                <td class="text-right">388</td>
                                <td class="text-center"><button class="btn btn-danger">Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group row mt-4">
                <div class="col-lg-4">
                    <button [routerLink]="['/nueva-solicitud']" class="btn btn-secondary" style="width: 100%; height: 100%;">Regresar</button>
                </div>
                <div class="col-lg-8">
                    <button [routerLink]="['/resumen']" class="btn btn-primary" style="width: 100%; height: 100%;">Continuar</button>
                </div>
            </div>
        </form>
    </div>
</div>