<div class="jumbotron">
    <h4 class="display-5">¡Bienvenido, Usuario prueba!</h4>
    <p class="lead">¿Qué deseas hacer?</p>
    <hr class="my-2">
    <div *ngIf="this.administrador; then adminBlock else userBlock"></div>
    <ng-template #userBlock>
        <div class="row">
            <div class="col-md-4">
                <a href="">Agregar dirección de facturación</a>
                <a href="">Ver mis direcciones de facturación</a>
            </div>
            <div class="col-md-4">
                <a [routerLink]="['/nueva-solicitud']">Solicitar nueva factura</a>
                <a href="">Ver estatus de mis solicitudes</a>
            </div>
            <div class="col-md-4">
                <a [routerLink]="['/perfil']">Ver mi información de perfil</a>
            </div>
        </div>
    </ng-template>
    <ng-template #adminBlock>
        <div class="row">
            <div class="col-md-4">
                <a href="">Buscar cliente</a>
                <a href="">Ver Solicitudes de Factura</a>
            </div>
            <div class="col-md-4">
                <a [routerLink]="['/perfil']">Agregar nuevo administrador</a>
            </div>
        </div>
    </ng-template>
    <div class="row my-5" *ngIf="!this.administrador">
        <h4>Solicitud de Factura más recientes</h4>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>