<div class="jumbotron">
    <ngx-spinner></ngx-spinner>
    <h4 class="display-5">¡Bienvenido, Usuario prueba!</h4>
    <p class="lead">¿Qué deseas hacer?</p>
    <hr class="my-2">
    <div *ngIf="this.administrador; then adminBlock else userBlock"></div>
    <ng-template #userBlock>
        <div class="row">
            <div class="col-md-4">
                <a href="">Agregar dirección de facturación</a>
                <a href="">Ver mis direcciones de facturación</a>
            </div>
            <div class="col-md-4">
                <a [routerLink]="['/nueva-solicitud']">Solicitar nueva factura</a>
            </div>
            <div class="col-md-4">
                <a [routerLink]="['/perfil']">Ver mi información de perfil</a>
            </div>
        </div>
    </ng-template>
    <ng-template #adminBlock>
        <div class="row">
            <div class="col-md-4">
                <a href="">Ver Solicitudes de Factura</a>
            </div>
            <div class="col-md-4">
                <a [routerLink]="['/perfil']">Agregar nuevo administrador</a>
            </div>
        </div>
        <div class="row m-5">
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
                <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="infoChart" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)"
                    (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
                </ngx-charts-bar-vertical-2d>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <a href="">Cerrar Sesión</a>
            </div>
        </div>
    </ng-template>
    <div class="row my-5" *ngIf="!this.administrador">
        <h4>Solicitudes Generadas</h4>
        <table class="table table-stripe">
            <thead>
                <tr>
                    <th scope="col">Folio</th>
                    <th scope="col">Datos de Factura</th>
                    <th scope="col" class="text-center">Tickets</th>
                    <th scope="col" class="text-right">Estatus</th>
                    <th scope="col" class="text-center">Detalle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">00343</th>
                    <td><b>Estrategia Logística y Empresarial S.A.</b> - José Vasconcelos 209 Residencial San Agustín, 5000. San Pedro Garza García, NL.</td>
                    <td class="text-right">2</td>
                    <td class="text-right"><span class="badge badge-success">Generada <fa-icon [icon]="iconoCheck"></fa-icon></span>

                    </td>
                    <td class="text-right"><button class="btn btn-info" (click)="VerDetalle()"><fa-icon [icon]="iconoDetalle"></fa-icon></button></td>
                </tr>
                <tr>
                    <th scope="row">00443</th>
                    <td><b>Estrategia Logística y Empresarial S.A.</b> - José Vasconcelos 209 Residencial San Agustín, 5000. San Pedro Garza García, NL.</td>
                    <td class="text-right">1</td>
                    <td class="text-right"><span class="badge badge-success">Generada <fa-icon [icon]="iconoCheck"></fa-icon></span>

                    </td>
                    <td class="text-right"><button class="btn btn-info" (click)="VerDetalle()"><fa-icon [icon]="iconoDetalle"></fa-icon></button></td>
                </tr>
                <tr>
                    <th scope="row">00482</th>
                    <td><b>Estrategia Logística y Empresarial S.A.</b> - José Vasconcelos 209 Residencial San Agustín, 5000. San Pedro Garza García, NL.</td>
                    <td class="text-right">3</td>
                    <td class="text-right"><span class="badge badge-success">Generada <fa-icon [icon]="iconoCheck"></fa-icon></span></td>
                    <td class="text-right"><button class="btn btn-info" (click)="VerDetalle()"><fa-icon [icon]="iconoDetalle"></fa-icon></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>