<div class="jumbotron">
    <h1 class="display-5">Solicitud Generada.</h1>
    <p>
        Tu solicitud se ha generado correctamente. Una vez generada tu factura, te notificaremos al correo electrónico <b>correo@dominio.com.mx</b>
    </p>
    <hr class="my-2">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-left">Detalle de la Solicitud</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <span>Nombre/Razón Social: <b>Patricio Eduardo Escudero Parra</b></span>
        </div>
        <div class="col-lg-3">
            <span>RFC: <b>XXXX010203AB1</b></span>
        </div>
        <div class="col-lg-3">
            <span>Persona <b>FÍSICA</b></span>
        </div>
    </div>
    <hr width="95%">
    <div class="row">
        <div class="col-lg-6">
            <span>Calle: <b>Nombre de Calle</b></span>
        </div>
        <div class="col-lg-4">
            <span>No. Exterior: <b>1100-B</b></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <span>Colonia: <b>Nombre de la Colonia</b></span>
        </div>
        <div class="col-lg-4">
            <span>Código Postal: <b>50000</b></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <span>Municipio: <b>San Pedro Garza García</b></span>
        </div>
    </div>
    <hr width="95%">
    <div class="row">
        <div class="col-lg-6">
            <span>Correo Electrónico: <b>correo@dominio.com.mx</b></span>
        </div>
        <div class="col-lg-4">
            <span>Uso de CFDI: <b>G01 - Gastos en General</b></span>
        </div>
    </div>
    <hr width="95%">
    <legend>Tickets Asociados</legend>
    <div class="form-group row">
        <div class="col-lg-12">
        <table class="table table-striped table-inverse">
            <thead class="thead-inverse">
                <tr>
                    <th>Fecha de Compra</th>
                    <th>Sucursal</th>
                    <th class="text-right">Número de Caja</th>
                    <th class="text-right">Número de Ticket</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Fecha</td>
                        <td>1 - Garza Sada</td>
                        <td class="text-right">2</td>
                        <td class="text-right">00121</td>
                    </tr>
                    <tr>
                        <td scope="row">Fecha</td>
                        <td>2 - Cumbres</td>
                        <td class="text-right">5</td>
                        <td class="text-right">00322</td>
                    </tr>
                </tbody>
        </table>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-right">
            Quiero generar <a [routerLink]="['/nueva-solicitud']">una nueva Solicitud</a>.
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12 text-right">
            Ver <a [routerLink]="['/principal']">mis Solicitudes Generadas</a>.
        </div>
    </div>
</div>