<div>
    <form>
            <h1 class="display-5">Bienvenido al sistema de generación de Solicitudes de Factura, de Super Roma.</h1>
            <p class="lead">Aquí podrás generar la solicitud de facturación de todas tus compras realizadas con nosotros, Solo debes de tener a la mano tu ticket de compra y la información necesaria para solicitarla.</p>
            <p class="lead text-right"><a (click)="onInfoClick()" id="infoLink">Ver información necesaria para enviar una solicitud de facturación.</a></p>
            <hr class="my-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Correo Electrónico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ejemplo@dominio.com">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
            </div>
            <div class="row mb-5 d-flex flex-row-reverse">
                <div id="botonInicio" class="col-lg-3">
                    <button [routerLink]="['/principal']" class="btn" id="btnInicioSesion">Iniciar Sesión</button>
                </div>
                <div id="botonInvitado" class="col-lg-2">
                    <button [routerLink]="['/nueva-solicitud']" class="btn" id="btnSolicitudExpress"><small>Solicitud Express</small></button>
                </div>
            </div>
            <div id="linkRegistro">
                ¿Aún no te encuentras registrado? <a [routerLink]="['/registro']">Haz clic aquí.</a>
            </div>
    </form>
</div>